body{
background-color: #cdccd1;
}
body::-webkit-scrollbar {
display: none;
}
h1{
color: #293D56;
text-align: center;
font-size: 65px;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Trebuchet MS",
Arial, Helvetica, sans-serif;
}
textarea{
padding: 12px;
border:none;
border-radius: 8px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
height: 70%;
resize: horizontal;
}
#procAntimonyBtn, #procSBMLBtn{
background-color: #293D56;
color: white;
border: none;
outline: none;
font-size: 25px;
/* position: absolute; */
width: 50px;
height: 40px;
/* border-radius: 50%; */
border-radius: 10px;
text-align: center;
/* left: 50%;
transform: translate(-50%, -50%); */
}
#wrapper{
position: relative;
display: flex;
align-items: center;
justify-content: center;
height: 90vh;
}
#antimony-code-wrapper, #sbml-code-wrapper{
display: flex;
flex-direction: column;
/* align-items: center; */
justify-content: center;
height: 100vh;
gap: 10px;
position: relative;
}
.input-wrapper{
display: flex;
justify-content: space-around;
align-items: center;
}
.input-wrapper > input{
padding: 7px;
border-radius: 6px;
}
#convert-btn-wrapper{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
width: 20px;
z-index: 1000;
color:#293D56;
}
#inputfile, #xml-id-wrapper{
position: absolute;
top: calc(15vh - 40px);
display:flex;
width: 100%;
justify-content: space-between;
align-items: center;
color:#293D56;

}
input[type=file]::file-selector-button{
background-color: #293D56;
border: none;
height: 30px;
border-radius: 6px;
color: white;
}
/*
#xml-id-wrapper > div{
width: 50%;
} */
#xml-id-input1, #xml-id-input2{
outline:none;
}