body{
background-color: #cdccd1;
}
body::-webkit-scrollbar {
display: none;
}
h1{
color: #293D56;
text-align: center;
font-size: 65px;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Trebuchet MS",
Arial, Helvetica, sans-serif;
}
textarea{
padding: 12px;
border:none;
border-radius: 8px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
height: 70%;
resize: horizontal;
}
#procAntimonyBtn, #procSBMLBtn{
background-color: #293D56;
color: white;
border: none;
outline: none;
font-size: 25px;
/* position: absolute; */
width: 50px;
height: 40px;
/* border-radius: 50%; */
border-radius: 10px;
text-align: center;
/* left: 50%;
transform: translate(-50%, -50%); */
}
#wrapper{
position: relative;
display: flex;
align-items: center;
justify-content: center;
height: 80vh;
}
.link-box{
 height: 2vh; 
 display: flex; 
 align-items: center;
 flex-direction: row;  
 justify-content: center;
}
#antimony-code-wrapper, #sbml-code-wrapper{
display: flex;
flex-direction: column;
/* align-items: center; */
justify-content: center;
height: 100vh;
gap: 10px;
position: relative;
}
.input-wrapper{
display: flex;
justify-content: space-around;
align-items: center;
}
.input-wrapper > input{
padding: 7px;
border-radius: 6px;
}
.link-btn{
padding: 5px;
width: 180px;
z-index: 1000;
color:#293D56;
height: 30px;
border-radius: 6px;
}

.link-btn:focus{

border: 2px solid white;

}


#convert-btn-wrapper{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
width: 20px;
z-index: 1000;
color:#293D56;
}
#inputfile, #xml-id-wrapper{
position: absolute;
top: calc(15vh - 40px);
display:flex;
width: 100%;
justify-content: space-between;
align-items: center;
color:#293D56;

}
/*  ******************** */
input[type="file"]::file-selector-button,
#xml-download-wrapper button,
#xml-import-wrapper button {
  background-color: #293D56;
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 30px;
  color: white;
  padding: 2px 3px;
  cursor: pointer;
}


#xml-download-wrapper button,
#xml-import-wrapper button,
#xml-download-search,
#xml-import-search {
  display: flex;
  gap: 5px;
  height: 30px;
}

.showLoader {
  display: flex !important;
}

.loader {
  display: none;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  margin-top: 8px; /* 2px; */
  margin-left: -30px; /* -21px; */
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


#xml-id-search-input1,
#xml-id-input2 {
  outline: none;
  position: relative;
  width: 300px;
}

#xml-1-rec,
#xml-2-rec {
  position: absolute;
  z-index: 5000;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: none;
}

#xml-1-rec li a,
#xml-2-rec li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 5px;
  font-size: 16px;
  display: block;
  color: black;
  max-width: 35em; 
  white-space: nowrap;
  overflow: hidden;
}

#xml-1-rec li a:hover,
#xml-2-rec li a:hover {
  background-color: #eee;
}
